<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="../static/fiftyjack_icon.ico" rel="icon">

        <link href="../static/styles.css" rel="stylesheet">


        <title>FiftyJack</title>

    </head>

    <body>

        <main>
            {% block main %}{% endblock %}
        </main>
        
        <p class="footer">
            Please note that the "split" option of blackjack is not implemented!<br>
            For blackjack rules please visit <a href="http://www.hitorstand.net/strategy.php" target="_blank">this page</a><br><br>
            A final project for the CS50x course "Introduction to Computer Science" - by LuMarian
        </p>

    </body>

</html>
